<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #1c7430"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
    <div class="container">
        <a class="navbar-brand" th:href="@{'/'}"><i class="fab fa-autoprefixer mr-2"></i>ALL E-SHOP
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a class="btn btn-secondary"  th:href="@{'/admin'}" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_MODERATOR')">ADMIN</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent ">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="?lng=en">ENG</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="?lng=ru">RUS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="?lng=kz">KAZ</a>
                </li>
            </ul>

            <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{'/profile'}"
               th:text="${currentUser.fullName}"></a>

            <a sec:authorize="isAnonymous()" class="btn btn-primary mr-2" th:href="@{'/register'}" >Register</a>
            <a sec:authorize="isAnonymous()" th:href="@{'/login'}">
                <button class="btn btn-primary my-2 my-sm-0" type="submit" style="color: #ffffff"
                        th:text="#{label.login}"></button>
            </a>

            <a class="btn btn-primary" sec:authorize="isAuthenticated()" href="JavaScript:void(0)"
               onclick="document.getElementById('logoutFormId').submit()">Logout
            </a>

            <form th:action="@{'/logout'}" method="post" id="logoutFormId" sec:authorize="isAuthenticated()"></form>
        </div>
    </div>
</nav>