img{
max-width: 100%;
}
img.thumbnail {
    width: 100px;
    height: 70px;
}

.checked{
    color: orange;
}
a:link{
    cursor: pointer;
    text-decoration: none!important;
}
a:hover{
    text-decoration: none;
}