<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main.html">

<div layout:fragment="site_content">

    <div class="row">
        <div class="col-sm-9">
            <input type="text" name="search" class="form-control" placeholder="Enter to search..." required>
        </div>
        <div class="col-sm-3">
            <button class="btn text-center col-sm-12" style="background-color: #156145; color: white"
                    th:text="#{label.search}"></button>
        </div>
    </div>
    <div id="demo" class="carousel slide mt-3" data-ride="carousel">

        <!-- Indicators -->
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
        </ul>

        <!-- The slideshow -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img th:src="@{'https://www.pngkit.com/png/full/214-2143210_windows-10-laptop-png-acer-travelmate-spin-b1.png'}"
                     alt=""
                     style="display: inline-block; max-width: 100%; height: 400px; background-color: rgba(49,70,153,0.33)">
                <div class="carousel-caption">
                    <h3 style="background-color: #ffffff; color: black" th:text="#{label.welcome}"></h3>
                    <p style="color: white" th:text="#{label.quick}"></p>
                </div>
            </div>
            <div class="carousel-item">
                <img th:src="@{'https://www.kindpng.com/picc/m/194-1945580_laptop-windows-10-png-windows-10-laptop-png.png'}"
                     alt=""
                     style="width: 100%; height: 400px">
                <div class="carousel-caption">
                    <h3 style="background-color: #ffffff; color: black" th:text="#{label.welcome}"></h3>
                    <p style="color: white" th:text="#{label.quick}"></p>
                </div>
            </div>
            <div class="carousel-item">
                <img th:src="@{'https://www.seekpng.com/png/detail/5-57883_windows-laptop-png-svg-library-download-best-laptops.png'}"
                     alt=""
                     style="width: 100%; height: 400px">
                <div class="carousel-caption">
                    <h3 style="background-color: #ffffff; color: black" th:text="#{label.quick}"></h3>
                    <p style="color: white" th:text="#{label.quick}"></p>
                </div>
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
    <button type="button" class="btn btn-primary mt-3" data-toggle="modal" id="addNew"
            data-target="#staticBackdrop" th:text="#{button.addItem}">
    </button>
    <h3 style="text-align: center" th:text="${IsTopItems.size()>0? 'TOP ITEMS': '' }"></h3>
    <div class="row mt-3" th:style="${IsTopItems.size()>0? 'border:3px solid gold': ''}" >
        <div class="col-sm-4" th:each="item:${IsTopItems}">
            <div class="card mt-3 mb-3" style="min-height: 400px;">
                <img th:src="${item.getSmallPicURL()}" class="card-img-top mt-1" style=" width: 100%; height: 190px"
                     alt="...">
                <div class="card-body">
                    <a th:href="@{'/view/' + ${item.getId()}}"><h5 class="card-title" th:text="${item.getName()}"></h5>
                    </a>
                    <h5>$<span th:text="${item.getPrice()}"></span></h5>
                    <p class="card-text" th:text="${item.getDescription()}"></p>
                </div>
                <div class="card-footer">
                            <span class="fa fa-star checked"
                                  th:each="num: ${#numbers.sequence(1,item.getStars(),1)}"></span>
                    <span class="fa fa-star" th:each="num: ${#numbers.sequence(item.getStars(),4,1)}"
                          style=""></span>
                </div>
            </div>
        </div>
    </div>

    <h3 style="text-align: center" class="mt-3" th:text="${IsTopItems.size()>0?'Other ITEMS': 'All Items'}"></h3>
    <div class="row mt-3">
        <div class="col-sm-4" th:each="item : ${items}">
            <div class="card mt-3" style="min-height: 400px;">
                <img th:src="${item.getSmallPicURL()}" class="card-img-top mt-1" style=" width: 100%; height: 190px"
                     alt="...">
                <div class="card-body">
                    <a th:href="@{'/view/' + ${item.getId()}}"><h5 class="card-title" th:text="${item.getName()}"></h5>
                    </a>
                    <h5>$<span th:text="${item.getPrice()}"></span></h5>
                    <p class="card-text" th:text="${item.getDescription()}"></p>
                </div>
                <div class="card-footer">
                            <span class="fa fa-star checked"
                                  th:each="num: ${#numbers.sequence(1,item.getStars(),1)}"></span>
                    <span class="fa fa-star" th:each="num: ${#numbers.sequence(item.getStars(),4,1)}"
                          style=""></span>
                </div>
            </div>
        </div>
    </div>
    <!--    </div>-->
    <form th:action="@{'/addItem'}" method="post">
        <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
             aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel" th:text="#{label.newItem}"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label th:text="#{label.itemName}"></label>
                            <input type="text" name="item_name" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label th:text="#{label.itemDescription}"></label>
                            <textarea class="form-control" rows="5" name="item_description"></textarea>
                        </div>
                        <div class="form-group">
                            <label th:text="#{label.itemPrice}"></label>
                            <input type="number" name="item_price" class="form-control" required>
                            <!--                            <label style="font-size: 12px; color: #8c8685">year-month-date</label>-->
                        </div>
                        <div class="form-group">
                            <label th:text="#{label.addedDate}"></label>
                            <input type="date" name="item_date" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label th:text="#{label.itemStar}"></label>
                            <input type="number" name="item_star" class="form-control">
                        </div>
                        <div class="form-group">
                            <label th:text="#{label.itemSmallPicture}"></label>
                            <input type="text" name="item_smallPic" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label th:text="#{label.itemLargePicture}"></label>
                            <input type="text" name="item_largePic" class="form-control" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                th:text="#{button.close}"></button>
                        <button type="submit" class="btn btn-primary" th:text="#{button.add}"></button>
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>
</html>