<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout" layout:decorator="layoutAdmin/mainAdmin.html"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div layout:fragment="site_contentAdmin">

    <!--    <div class="col-sm-9">-->
    <div class="card">
        <img th:src="${item.getLargePicURL()}" style="max-width: 100%; height: 450px" class="card-img-top" alt="...">
        <div class="card-body">
            <a th:href="@{'/details/' + ${item.getId()}}"><h5 class="card-title" th:text="${item.getName()}"></h5></a>
            <h5>$<span th:text="${item.getPrice()}"></span></h5>
            <p class="card-text" th:text="${item.getDescription()}"></p>
<!--            <form th:action="@{'/search'}" method="get">-->

                <h6 class="card-text">BRAND:
                    <button style="padding: 0; border: 0; outline: none; background: none;color: #005cbf; font-size: 14px; font-weight: bold" type="button" name="brand_id" th:value="${item.brands.id}"
                            th:text="${item.brands!=null ? item.brands.name + ', ' + item.brands.countries.name : '------'}"></button>
                </h6>
            <div class="col-6 offset-3" style="border: 3px solid black;">
                <img th:src="@{'/viewpicture/'+${picturesOne.url}}" style="width: 100%">
            </div>
            <div class="row mt-5">
                <div class="col-2" style="" th:each="pp: ${pictures}">
                    <img th:src="@{'/viewpicture/'+${pp.url}}" style="width: 100px">
                </div>
            </div>
<!--            </form>-->
        </div>
        <div class="card-footer">
                            <span style="color: rgba(246,225,45,0.96) " class="fa fa-star"
                                  th:each="num: ${#numbers.sequence(1,item.getStars(),1)}"></span>
            <span class="fa fa-star" th:each="num: ${#numbers.sequence(item.getStars(),4,1)}"
                  style=""></span>
        </div>
    </div>

    <div class="mt-5">
        <div class="row">
            <div class="col-12">
                <form th:action="@{'/addComment'}" method="post">
                    <input type="hidden" name="userr_id" th:if="${currentUser!=null}" th:value="${currentUser.getId()}">
                    <input type="hidden" name="item_id" th:value="${item.id}">
                    <textarea class="form-control" name="comment" rows="3" required></textarea>
                    <button class="btn btn-primary float-right mt-3"><i class="fas fa-comments mr-1"></i><span
                            th:text="#{label.addComment}"></span></button>
                </form>
            </div>
        </div>
    </div>

    <div class="mt-5" th:if="${comments.size()>0}">
        <div class="row">
            <div class="col-12">
                <div class="card" th:each="com: ${comments}">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <strong><h6 class="card-title" th:text="${com.author.fullName}"></h6></strong>
                                <p class="card-text" id="commentsF" th:text="${com.comment}"></p>
                            </div>
                            <div class="col-6 " style="display: flex; flex-direction: column">
                                <div class="row">
                                    <div class="col-12 float-right">
                                        <h6 class="float-right" th:text="${com.addedDate}"></h6>
                                    </div>
                                </div>

                                <div class="row" sec:authorize="hasAnyRole('ROLE_ADMIN')">
                                    <div class="col-sm-12">
                                        <div class="row float-right" th:if="${!check}">
                                            <!--  <button class="btn btn-dark mr-2" data-toggle="modal" data-target="#editCom" th:attr="data-id=${com.id}, data-name=${com.comment}" ><i class="fas fa-edit"></i></button>-->
                                            <form th:action="@{'/deleteMesage'}" method="post">
                                                <input type="hidden" name="comen_id" th:value="${com.id}">
                                                <input type="hidden" name="item_id" th:value="${item.id}">
                                                <button class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</html>